.PriceRangeSlider {
	&__inner {
		position: relative;
		width: 100%;
		height: 20px;
		&:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
	}
	&__track {
		position: absolute;
		top: 8.5px;
		left: 0;
		right: 0;
		height: 4px;
		background-color: var(--hint-opacity-color);
		border-radius: var(--border-radius);
	}
	&__range {
		position: absolute;
		top: 0;
		bottom: 0;
		background: var(--hint-color);
		border-radius: var(--border-radius);
	}
	&__thumb {
		pointer-events: none;
		position: absolute;
		top: 0;
		height: 20px;
		width: 100%;
		background: none;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		&::-webkit-slider-thumb {
			pointer-events: all;
			-webkit-appearance: none;
			height: 16px;
			width: 16px;
			border-radius: 50%;
			background: var(--hint-color);
			cursor: pointer;
			transition: background-color 0.3s ease 0s;
		}
		&::-moz-range-thumb {
			pointer-events: all;
			height: 16px;
			width: 16px;
			border-radius: 50%;
			background: var(--hint-color);
			cursor: pointer;
			transition: background-color 0.3s ease 0s;
		}
		&:focus::-webkit-slider-thumb {
			background: var(--hint-hover-color);
		}
		&:focus::-moz-range-thumb {
			background: var(--hint-hover-color);
		}
	}
	&__prices {
		display: flex;
		gap: 10px;
	}
}
