.ProfileCard {
	&_error,
	&_loading {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__data {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		&:not(:last-child) {
			margin: 0px 0px 15px 0px;
		}
	}
}
