.title {
	font: var(--font-m);
	color: var(--primary-color);
}

.text {
	font: var(--font-s);
	color: var(--secondary-color);
}

.error {
	.title,
	.text {
		color: var(--error-color);
	}
}

.left {
	text-align-last: left;
}

.right {
	text-align-last: right;
}

.center {
	text-align: center;
}
