.Button {
}

.primary {
	width: fit-content;
	border-radius: var(--border-radius);
	color: var(--primary-color);
	background-color: var(--hint-color);
	padding: 5px 15px;
	transition: background-color 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--hint-hover-color);
		}
	}
}

.secondary {
}

.lang_switcher,
.theme_switcher,
.filterbar_switcher {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--hint-hover-color);
		}
	}
}

.lang_switcher,
.theme_switcher {
	border-radius: var(--border-radius);
	color: var(--primary-color);
	font-weight: 600;
	background-color: transparent;
	border: 1px solid var(--primary-color);
}

.lang_switcher {
	gap: 3px;
	padding: 0px 10px;
}

.theme_switcher {
	padding: 0 10px 0 6px;
}

.filterbar_switcher {
	width: 40px;
	height: 40px;
	background-color: var(--bg-secondary-color);
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	svg {
		transition: transform 0.3s ease 0s;
		transform: rotate(-90deg);
	}
}
