.Filterbar {
	height: calc(100vh - var(--navbar-height));
	background-color: var(--bg-secondary-color);
	transition: width 0.3s ease 0s;
	position: relative;
	width: var(--filterbar-width);
	&_colapsed {
		width: var(--filterbar-width-colapsed);
	}
}
