.ProfilePage {
	padding: 30px 0px;
	min-height: calc(100vh - var(--navbar-height));
	&__container {
	}
	&__errors,
	&__card {
		&:not(:last-child) {
			margin: 0px 0px 15px 0px;
		}
	}
	&__content {
		display: flex;
		gap: 15px;
	}
	&__inputs {
		flex: 0 1 50%;
	}
	&__image {
		flex: 0 1 50%;
	}
}
