.Button {
}

.lang_switcher,
.theme_switcher {
	align-items: center;
	border: 1px solid var(--primary-color);
	border-radius: var(--border-radius);
	color: var(--primary-color);
	display: flex;
	display: inline-flex;
	font-weight: 600;
	justify-content: center;
	letter-spacing: var(--letter-spacing);
	background-color: transparent;
	height: 100%;
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--bg-color);
		}
	}
}
.theme_switcher {
	padding: 0 10px 0 6px;
}
