.app_dark_theme {
	--bg-color: #030712;
	--bg-secondary-color: #181818;

	--primary-color: #f3f4f6;
	--secondary-color: #9ca3af;

	--overlay-color: rgba(3, 7, 18, 0.8);

	--skeleton-color: #252525;
	--skeleton-shadow: #3a3a3a;
}
