.app_dark_theme {
	--bg-color: #030712;
	--bg-secondary-color: #181818;

	--primary-color: #f3f4f6;
	--secondary-color: #9ca3af;

	--hint-color: #f97316;
	--hint-hover-color: #ff9245;
	--hint-opacity-color: rgba(249, 116, 22, 0.5);

	--overlay-color: rgba(3, 7, 18, 0.8);
}
