:root {
	--bg-color: #f1eeee;
	--bg-secondary-color: #fff;

	--primary-color: #030712;
	--secondary-color: #6b7280;

	--hint-color: #f97316;
	--hint-hover-color: #ff9245;
	--hint-opacity-color: rgba(249, 116, 22, 0.5);

	--overlay-color: rgba(241, 238, 238, 0.8);
}
