:root {
	--bg-color: #f1eeee;
	--bg-secondary-color: #fff;

	--primary-color: #030712;
	--secondary-color: #6b7280;

	--overlay-color: rgba(241, 238, 238, 0.8);
	--skeleton-color: #fff;
	--skeleton-shadow: rgba(0 0 0 / 10%);
}
