.Select {
	position: relative;
	transition: opacity 0.3s ease 0s;
	pointer-events: auto;
	cursor: pointer;
	opacity: 1;
	&_disabled {
		pointer-events: none;
		cursor: default;
		opacity: 0.7;
	}
	&__placeholder {
		z-index: 11;
		transform: scale(0.8) translate(0px, -70%);
		top: 0px;
		left: 0px;
		position: absolute;
		transition: all 0.3s ease 0s;
		padding: 0px 5px;
		background-color: var(--bg-color);
	}

	&__label {
		justify-content: space-between;
		span {
			display: flex;
			justify-content: flex-start;
			overflow: hidden;
			white-space: nowrap;
		}
	}

	&__dropdown {
		width: 100%;
		background-color: var(--bg-color-secondray);
		border-radius: var(--border-radius);
		color: var(--primary-color);
		//padding: 15px 0;
		position: absolute;
		top: calc(100% + 10px);
		z-index: var(--dropdown-z-index);
	}

	&__item {
		&:not(:last-child) {
			margin: 0 0 3px 0;
		}
	}
}
