.LoginForm {
	max-width: 290px;
	&__body,
	&__title {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	&__button {
		min-height: 45px;
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}
