.Filterbar {
	height: calc(100vh - var(--navbar-height));
	background-color: var(--bg-secondary-color);
	transition: width 0.5s ease 0s;
	position: relative;
	padding: 15px;
	z-index: var(--overlap-z-index-secondary);
	//@include adaptiveValue("width", 300, 200, 1920, 991.98);
	min-width: 300px;
	&_collapsed {
		padding: 0px;
		width: 0px;
		.Filterbar__body {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
	}
	&__button {
		position: absolute;
		top: 10px;
		right: -40px;
		&_collapsed {
			svg {
				transform: rotate(90deg);
			}
		}
	}
	&__body {
		transition: all 0.3s ease 0s;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
}
