.ImageInput {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;

	&_readonly {
		opacity: 0.65;
		pointer-events: none;
	}
	&__label {
		display: block;
		font: var(--font-l);
	}
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
	&__uploadText {
		display: inline-block;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				.ImageInput__imageChange {
					background-color: var(--bg-color);
				}
			}
		}
	}
	&__imagePreview,
	&__uploadPlaceholder {
		padding-bottom: 75%;
	}
	&__imagePreview {
		width: 100%;

		overflow: hidden;
		border-radius: var(--border-radius);
		img {
			transition: transform 0.3s ease 0s;
		}
	}
	&__imageChange {
		position: absolute;
		bottom: 5px;
		left: 0;
		right: 0;
		text-align: center;
		background-color: var(--overlay-color);
		transition: background-color 0.3s ease 0s;
		padding: 5px 15px;
	}
	&__uploadPlaceholder {
		background-color: var(--bg-secondary-color);
		position: relative;
		border-radius: var(--border-radius);
		border: 1px solid var(--primary-color);
		transition: border 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				border-color: var(--hint-color);
				.ImageInput__imageSelect {
					color: var(--hint-color);
				}
			}
		}
	}
	&__imageSelect {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: color 0.3s ease 0s;
	}
}
